<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/result');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var result = JSON.parse(event.data);
        var div = document.getElementById("resultlist");
        div.innerHTML = "<h2>結果</h2><p>Match: id " + result.id + " user1: " + result.user1 + " user2: " + result.user2 + " user1Hand: " + result.user1Hand + " user2Hand: " + result.user2Hand + "</p><a href=" + "/janken" + ">もどる</a>";
      }
    }
  </script>
</head>

<body>
  <h1>相手の手を待ってます</h1>
  <p>Hi <span sec:authentication="name" /></p>
  <div id="resultlist" />

</html>
