<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>Janken</title>
  <script>
    window.onload = function () {
      var sse = new EventSource('/fight');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var match = JSON.parse(event.data);
        if (match) {
          console.log("match")
          console.log(match)
          var result = "Match: id " + match.id + " user1: " + match.user1 + " user2: " + match.user2 + " user1Hand: " + match.user1Hand + " user2Hand: " + match.user2Hand;
          document.body.innerHTML = result + "<div><a href='/janken'>もどる</a></div>";
        }
      }
    }
  </script>
</head>

<body>
  <h1>相手の手を待ってます</h1>
  <p>Hi <span sec:authentication="name" /></p>
  <div th:if="${match}">
    <h2>結果</h2>
    Match: id [[${match.id}]] user1: [[${match.user1}]] user2: [[${match.user2}]] user1Hand: [[${match.user1Hand}]]
    user2Hand: [[${match.user2Hand}]]
    <div><a href="/janken">もどる</a></div>
  </div>

</html>
